<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>java-node</name>
  <description>this node helps to build java applications</description>
  <remoteFS>/opt/build</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.slaves.JNLPLauncher">
    <workDirSettings>
      <disabled>true</disabled>
      <internalDir>remoting</internalDir>
      <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
    </workDirSettings>
    <webSocket>true</webSocket>
  </launcher>
  <label>java-build-node</label>
  <nodeProperties/>
</slave>